body {
    font-family: sans-serif;
    background-color: #68A7AD;
}


img {
    width: 50%;
    height: 50%;
}

h1 {
    color: #15133C;
}

h3 {
    background-color: #E5CB9F;
}

a {
    color:#15133C;
    text-decoration: none;
}

.container, h1, h3 {
    text-align: center;
}

.container {
    border-radius: 5px;
}

.container.image {
    background: #99C4C8;
}


.container.preparation {
    background-color: #EEE4AB;
    text-align: left;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
}

.container.icon {
    height: 50%;
    width: 50%;
}


