body {
    font-family: sans-serif;
    background-color: #68A7AD;
}


img {
    width: 50%;
    height: 50%;
}

.container {
    border-radius: 5px;
    text-align: center;
}

.container.image {
    background: #99C4C8;
}

h1 {
    text-align: center;
    color: #15133C;
}

.container.preparation {
    background-color: #EEE4AB;
    text-align: left;
}

h3 {
    background-color: #E5CB9F;
    text-align: center;
}
